.miniNavHouse{
    display: flex;
    background-color: #132231;
    justify-content: space-between;
    padding: 5px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgba(255, 196, 0, 0.726);
    form{
        margin: 1px;
        margin-top: 5px;
        input{
            border: 1px solid gold;
            background-color: transparent;
            color: whitesmoke;
            border-radius:8px ;
            width: 30vw;
        }
        button{
            border: 1px solid gold;
            background-color: transparent;
            color: whitesmoke;
            z-index: 2;
            border-radius: 8px ;
            position: relative;
            left: -27px;
        }

    }
    .miniNavUsuarios{
        display: flex;
        margin: 1px;
        justify-content: center;
        h5{
            display: flex;
            align-items: center; 
            color: aliceblue;
            margin-left: 1vw;
            margin-right: 1vw;
            // margin-bottom: 0;
            margin-top: 0;
        }
        .iconoHouse{
            width: 75px;
            border-radius: 500px;
        }
    }
}