.mainRegister{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #242c35;
    height: 86.6%;
    margin: auto;
}
.correcionCajasForm{
    width: 100%;
}
.correcionCajasForm label{
    color: gold;
}
.correcionCajasForm input{
    width: 70%;
}
.tituloRegisterCaja{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    color: white;
}
.checkBoxs{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.form-box{
    margin-top: 10px;
    width: 75%;
    padding: 10px;
    height: 100%;
    background: #191919;
    text-align: center;
    border-radius: 20px;
}

.form-title{
    color: #ffffff;
    font-weight: 500;
    color: gold;
}
.cajaRegisterInput{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    border: 2px solid gold;
    text-align: center;
    border-radius: 24px;
    outline: none;
    color: #ffffff;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type="email"]:focus{
    width: 50%;
    border-color: #ffffff;
}

.logo{
    display: flex;
    margin: auto;
    width: 150px;
    padding: 5px;
}
.divParaGradiant{
    display: block;
    margin: 10px;
}
.divParaGradiant::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1%;
    background:linear-gradient(
      45deg, gold,blue,gold,blue,gold,blue,gold
      );
    background-size: 800%;
    border-radius:10px ;
    filter:blur(8px) ;
    animation: glowing 80s linear infinite;
  }
  @keyframes glowing{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 250% 0;
    }
  }
/* ---Correcion--- */
.form-box button[type="submit"]{
    width: 60%;
    border: 0;
    background: #3742fa;
    cursor: pointer;
    border-radius: 24px;
    height: 45px;
    margin-top: 15px;
    color: white;
}


.cajaSendRegister{
    margin: auto;
    width: 40%;
}
.opcionesRegister{
    text-align: center;
    width: 50%;
    border-radius: 7px;
    background: #191919;
    border: 2px solid gold;
    height: 50px;
    color: gray;
}
.textAreaRegister{
    width: 50%;
    text-align: center;
    color: white;
    border: 2px solid gold;
    background: #191919;
    border-radius: 5px;
    margin-top: 15px;
}
.imagenPerfilRegister{
    text-align: center;
    color: white;
    border: 2px solid gold;
    background: #191919;
}
.errorTxtNombre{
   color: #D6000B; 
}
.errorTxtApellido{
   color: #D6000B; 
}
.errorTxtUsuario{
   color: #D6000B; 
}
.errorTxtEmail{
   color: #D6000B; 
}
.errorTxtContrasenia{
   color: #D6000B; 
}
.errorTxtPais{
   color: #D6000B; 
}
.errorTxtGeneroFav{
   color: #D6000B; 
}
.errorTxtGeneros{
   color: #D6000B; 
}
.errorTxtIdentidadGenero{
   color: #D6000B; 
}
.errorTxtDescripcion{
   color: #D6000B; 
}
.errorTxtFotoPerfil{
   color: #D6000B; 
}
.errorTxt{
   color: #D6000B; 
}
.avisoErrorTxt{
   color: #D6000B; 
}
.errorBorder{
    border: 2px solid #D6000B; 
}
.goodBorder{
    border: 2px solid #19d600; 
}
.textAviso{
    color: #19d600; 
}
  /* #D6000B */
  @media ( max-width: 800px) {
    .imagenPerfilRegister{
        width: 80%;
    }
  }