#footerBox{
    background-color: #0f1418;
    width: 100vw;
    display: block;
  }
  #iconsFooter{
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 30px;
    padding: 5px 30% 0 30%;
  }
  #iconsFooter i{
    margin-left: 4px;
    margin-right:4px ;
  }
  #helpList{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 5px 15% 0 15%; 
    margin-bottom:0 !important;
  }
  .itemFooter{
    padding: 2px;
  }