.ajusteCarrusel{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(44, 51, 58);
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(87, 87, 87);
    .carruselImg{
        width: 80vw;
    }
}
